*{
    padding: 0;
    margin: 0;
}

.main-header{
    display: flex;
    justify-content: space-between;
    background-color: #0074D9;
    padding: 20px 10px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
header p{
    font-style: italic;
}

li{
    list-style: none;;
}