*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: linear-gradient(135deg,#0074D9,#0074D9);
    height: 100vh;
    color: white;
}

h1{
    text-align: center;
    margin-block: 20px;
}

table{
    width: 80%;
    margin: auto;
    border: 1px solid white;
    border-collapse: collapse; /*buat ngilangin garis dobel di tablenya*/
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.400);
    border-radius: 8px;
    overflow: hidden; /*buat ngilangin garis pinggir table*/
}

th, td{
    padding: 10px;
}

th{
    background-color: blue;
}

tr:nth-child(even){
    background-color: blue;
    text-transform: uppercase; /*untuk buat huruf biar kapital*/
}

tr:hover{
    background-color: red;
    transition: 0.5s;
}
